powerauth-java-server/src/main/resources/xsd/PowerAuth-3.0.xsd

<?xml version="1.0"?>
<!--
  ~ PowerAuth Server and related software components
  ~ Copyright (C) 2018 Wultra s.r.o.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://getlime.io/security/powerauth/v3"
           targetNamespace="http://getlime.io/security/powerauth/v3"
           elementFormDefault="qualified">

    <!-- Status method //-->

    <xs:element name="GetSystemStatusRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the system status information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetSystemStatusResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the system status information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationDisplayName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationEnvironment" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="buildTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Server error code list -->

    <xs:element name="GetErrorCodeListRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the list of all possible server error codes.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="language" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetErrorCodeListResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the list of all possible server error codes.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- List applications //-->

    <xs:element name="GetApplicationListRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the application list.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetApplicationListResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the application list.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applications" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get application details //-->

    <xs:element name="GetApplicationDetailRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the application detail, including the list of versions.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetApplicationDetailResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the application detail, including the list of versions.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="masterPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="versions" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationVersionName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationSecret" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="supported" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get application details by application key //-->

    <xs:element name="LookupApplicationByAppKeyRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the application detail based on the application version key.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LookupApplicationByAppKeyResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the application detail based on the application version key.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create application //-->

    <xs:element name="CreateApplicationRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new activation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateApplicationResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new activation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create application version //-->

    <xs:element name="CreateApplicationVersionRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new activation version.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationVersionName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateApplicationVersionResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new activation version.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationVersionName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationSecret" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="supported" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Unsupport application version //-->

    <xs:element name="UnsupportApplicationVersionRequest">
        <xs:annotation>
            <xs:documentation>Request for marking a given application version as unsupported.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UnsupportApplicationVersionResponse">
        <xs:annotation>
            <xs:documentation>Response for marking a given application version as unsupported.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="supported" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Support application version //-->

    <xs:element name="SupportApplicationVersionRequest">
        <xs:annotation>
            <xs:documentation>Request for marking a given application version as supported.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SupportApplicationVersionResponse">
        <xs:annotation>
            <xs:documentation>Response for marking a given application version as supported.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationVersionId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="supported" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Init activation //-->

    <xs:element name="InitActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for initiating the activation process by generating the activation code.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampActivationExpire" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element name="maxFailureCount" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtpValidation" type="tns:ActivationOtpValidation" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtp" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="InitActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for initiating the activation process.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationSignature" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Exchange public keys //-->

    <xs:element name="PrepareActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for client-server key exchange procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PrepareActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for client-server key exchange procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create new activation directly //-->

    <xs:element name="CreateActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new activation directly.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampActivationExpire" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element name="maxFailureCount" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtp" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new activation directly.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update activation OTP //-->

    <xs:element name="UpdateActivationOtpRequest">
        <xs:annotation>
            <xs:documentation>Request for update activation OTP before activation commit.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtp" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateActivationOtpResponse">
        <xs:annotation>
            <xs:documentation>Response for update activation OTP before activation commit.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="updated" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Commit activation //-->

    <xs:element name="CommitActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for committing the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtp" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CommitActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for committing the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activated" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Activation Status //-->

    <xs:element name="GetActivationStatusRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the activation details / status information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="challenge" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetActivationStatusResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the activation details / status information.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationOtpValidation" type="tns:ActivationOtpValidation" minOccurs="1" maxOccurs="1"/>
                <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="extras" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="platform" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="deviceInfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampLastUsed" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampLastChange" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element name="encryptedStatusBlob" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedStatusBlobNonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationSignature" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="devicePublicKeyFingerprint" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="version" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Remove Activation //-->

    <xs:element name="RemoveActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for removing the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="revokeRecoveryCodes" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for removing the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="removed" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Activations for user //-->

    <xs:element name="GetActivationListForUserRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the list of activations for given user.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetActivationListForUserResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the list of activations for given user.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activations" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1"
                                        maxOccurs="1"/>
                            <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="extras" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="platform" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="deviceInfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="timestampCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="timestampLastUsed" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="timestampLastChange" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="version" type="xs:long" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Lookup activations //-->

    <xs:element name="LookupActivationsRequest">
        <xs:annotation>
            <xs:documentation>Request for querying activations using various parameters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userIds" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="applicationIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="timestampLastUsedBefore" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element name="timestampLastUsedAfter" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LookupActivationsResponse">
        <xs:annotation>
            <xs:documentation>Response for querying activations using various parameters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activations" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activationName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="extras" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="platform" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="deviceInfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="timestampCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="timestampLastUsed" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="timestampLastChange" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="version" type="xs:long" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update status for activations //-->

    <xs:element name="UpdateStatusForActivationsRequest">
        <xs:annotation>
            <xs:documentation>Request for updating status for activations.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationIds" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateStatusForActivationsResponse">
        <xs:annotation>
            <xs:documentation>Response for updating status for activations.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="updated" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Verify signature //-->

    <xs:element name="VerifySignatureRequest">
        <xs:annotation>
            <xs:documentation>Request for the signature verification process.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signatureVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="forcedSignatureVersion" type="xs:long" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="VerifySignatureResponse">
        <xs:annotation>
            <xs:documentation>Response for the signature verification process.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="signatureValid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="remainingAttempts" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Create personalized offline signature payload //-->

    <xs:element name="CreatePersonalizedOfflineSignaturePayloadRequest">
        <xs:annotation>
            <xs:documentation>Request for generating personalized signature payload for the offline signature.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePersonalizedOfflineSignaturePayloadResponse">
        <xs:annotation>
            <xs:documentation>Response for generating personalized signature payload for the offline signature.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="offlineData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create offline signature payload //-->

    <xs:element name="CreateNonPersonalizedOfflineSignaturePayloadRequest">
        <xs:annotation>
            <xs:documentation>Request for generating non-personalized signature payload for the offline signature.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateNonPersonalizedOfflineSignaturePayloadResponse">
        <xs:annotation>
            <xs:documentation>Response for generating non-personalized signature payload for the offline signature.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="offlineData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Verify offline signature //-->

    <xs:element name="VerifyOfflineSignatureRequest">
        <xs:annotation>
            <xs:documentation>Request for the offline signature verification process.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="allowBiometry" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="VerifyOfflineSignatureResponse">
        <xs:annotation>
            <xs:documentation>Response for the signature verification process.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="signatureValid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="remainingAttempts" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Block Activation //-->

    <xs:element name="BlockActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for blocking the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="reason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BlockActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for blocking the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="blockedReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Unblock Activation //-->

    <xs:element name="UnblockActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for unblocking the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UnblockActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for unblocking the activation with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Vault Unlock //-->

    <xs:element name="VaultUnlockRequest">
        <xs:annotation>
            <xs:documentation>Request for the vault unlock procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signatureVersion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="VaultUnlockResponse">
        <xs:annotation>
            <xs:documentation>Response for the vault unlock procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="encryptedData" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="signatureValid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Asymmetric ECDSA signature validation -->

    <xs:element name="VerifyECDSASignatureRequest">
        <xs:annotation>
            <xs:documentation>Request for the asymmetric signature (ECDSA) validation procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="data" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="VerifyECDSASignatureResponse">
        <xs:annotation>
            <xs:documentation>Response for the asymmetric signature (ECDSA) validation procedure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="signatureValid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Signature Audit Access //-->

    <xs:element name="SignatureAuditRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the signature audit log.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="timestampFrom" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampTo" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SignatureAuditResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the signature audit log.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationCounter" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationCtrData" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="0"
                                        maxOccurs="1"/>
                            <xs:element name="additionalInfo" type="tns:KeyValueMap" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="dataBase64" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="signatureVersion" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="signatureType" type="tns:SignatureType" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="signature" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="note" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="valid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="version" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="timestampCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Activation Status Change Log //-->

    <xs:element name="ActivationHistoryRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the activation status change log.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampFrom" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestampTo" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ActivationHistoryResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the activation status change log.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1"
                                        maxOccurs="1"/>
                            <xs:element name="eventReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="externalUserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="timestampCreated" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create a new integration //-->

    <xs:element name="CreateIntegrationRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new integration record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateIntegrationResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new integration record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="clientToken" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="clientSecret" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get integration list //-->

    <xs:element name="GetIntegrationListRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the list of integrations.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetIntegrationListResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the list of integrations.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="restrictedAccess" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="clientToken" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="clientSecret" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Remove integration //-->

    <xs:element name="RemoveIntegrationRequest">
        <xs:annotation>
            <xs:documentation>Request for removing an integration record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveIntegrationResponse">
        <xs:annotation>
            <xs:documentation>Response for removing an integration record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="removed" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create a new callback URL //-->

    <xs:element name="CreateCallbackUrlRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new callback URL record associated with given application.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="callbackUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="authentication" type="tns:HttpAuthenticationPrivate" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateCallbackUrlResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new callback URL.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="callbackUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="authentication" type="tns:HttpAuthenticationPublic" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update a callback URL //-->

    <xs:element name="UpdateCallbackUrlRequest">
        <xs:annotation>
            <xs:documentation>Request for updating a callback URL record associated with given application.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="callbackUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="authentication" type="tns:HttpAuthenticationPrivate" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateCallbackUrlResponse">
        <xs:annotation>
            <xs:documentation>Response for updating a callback URL.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="callbackUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="authentication" type="tns:HttpAuthenticationPublic" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get callback URL list //-->

    <xs:element name="GetCallbackUrlListRequest">
        <xs:annotation>
            <xs:documentation>Request for getting the list of callback URLs for given application.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCallbackUrlListResponse">
        <xs:annotation>
            <xs:documentation>Response for getting the list of callback URLs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="callbackUrlList" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="callbackUrl" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="authentication" type="tns:HttpAuthenticationPublic" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Remove callback URL //-->

    <xs:element name="RemoveCallbackUrlRequest">
        <xs:annotation>
            <xs:documentation>Request for removing a callback URL record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveCallbackUrlResponse">
        <xs:annotation>
            <xs:documentation>Response for removing an callback URL record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="removed" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Token Based Authentication Support //-->

    <xs:element name="CreateTokenRequest">
        <xs:annotation>
            <xs:documentation>Request for obtaining a new token for simple authentication.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateTokenResponse">
        <xs:annotation>
            <xs:documentation>Response for obtaining a new token for simple authentication.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ValidateTokenRequest">
        <xs:annotation>
            <xs:documentation>Request for validating the request authenticated with a token..</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tokenId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="tokenDigest" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="timestamp" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ValidateTokenResponse">
        <xs:annotation>
            <xs:documentation>Response for validating the request authenticated with a token.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tokenValid" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="signatureType" type="tns:SignatureType" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveTokenRequest">
        <xs:annotation>
            <xs:documentation>Request for removing the token with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tokenId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveTokenResponse">
        <xs:annotation>
            <xs:documentation>Response for removing the token with given ID.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="removed" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ECIES //-->

    <xs:element name="GetEciesDecryptorRequest">
        <xs:annotation>
            <xs:documentation>Request for obtaining ECIES decryptor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!-- activationId is optional -->
                <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetEciesDecryptorResponse">
        <xs:annotation>
            <xs:documentation>Response containing setup for ECIES decryptor.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="secretKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="sharedInfo2" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Upgrade to version 3.0 //-->

    <xs:element name="StartUpgradeRequest">
        <xs:annotation>
            <xs:documentation>Request to start upgrade.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="StartUpgradeResponse">
        <xs:annotation>
            <xs:documentation>Response to start upgrade.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CommitUpgradeRequest">
        <xs:annotation>
            <xs:documentation>Upgrade commit request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CommitUpgradeResponse">
        <xs:annotation>
            <xs:documentation>Upgrade commit response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="committed" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Recovery codes -->

    <xs:element name="CreateRecoveryCodeRequest">
        <xs:annotation>
            <xs:documentation>Create recovery code request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="pukCount" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateRecoveryCodeResponse">
        <xs:annotation>
            <xs:documentation>Create recovery code response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nonce" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="recoveryCodeId" type="xs:long" maxOccurs="1" minOccurs="1"/>
                <xs:element name="recoveryCodeMasked" type="xs:string" maxOccurs="1" minOccurs="1"/>
                <xs:element name="status" type="tns:RecoveryCodeStatus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="puks" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pukIndex" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="pukDerivationIndex" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="status" type="tns:RecoveryPukStatus" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConfirmRecoveryCodeRequest">
        <xs:annotation>
            <xs:documentation>Confirm recovery code request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="ConfirmRecoveryCodeResponse">
        <xs:annotation>
            <xs:documentation>Confirm recovery code response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LookupRecoveryCodesRequest">
        <xs:annotation>
            <xs:documentation>Search for recovery codes request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="recoveryCodeStatus" type="tns:RecoveryCodeStatus" minOccurs="0" maxOccurs="1"/>
                <xs:element name="recoveryPukStatus" type="tns:RecoveryPukStatus" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LookupRecoveryCodesResponse">
        <xs:annotation>
            <xs:documentation>Search for recovery codes response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recoveryCodes" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recoveryCodeId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="recoveryCodeMasked" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="activationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="status" type="tns:RecoveryCodeStatus" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="puks" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pukIndex" type="xs:long" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="status" type="tns:RecoveryPukStatus" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RevokeRecoveryCodesRequest">
        <xs:annotation>
            <xs:documentation>Revoke recovery codes request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recoveryCodeIds" type="xs:long" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RevokeRecoveryCodesResponse">
        <xs:annotation>
            <xs:documentation>Revoke recovery code response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="revoked" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RecoveryCodeActivationRequest">
        <xs:annotation>
            <xs:documentation>Request for creating a new activation using recovery code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recoveryCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="puk" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="maxFailureCount" type="xs:long" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ephemeralPublicKey" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="nonce" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="activationOtp" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RecoveryCodeActivationResponse">
        <xs:annotation>
            <xs:documentation>Response for creating a new activation using recovery code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="encryptedData" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="mac" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationStatus" type="tns:ActivationStatus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetRecoveryConfigRequest">
        <xs:annotation>
            <xs:documentation>Get application recovery configuration request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetRecoveryConfigResponse">
        <xs:annotation>
            <xs:documentation>Get application recovery configuration response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationRecoveryEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="recoveryPostcardEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="allowMultipleRecoveryCodes" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element name="postcardPublicKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="remotePostcardPublicKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateRecoveryConfigRequest">
        <xs:annotation>
            <xs:documentation>Update application recovery configuration request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationRecoveryEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="recoveryPostcardEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                <xs:element name="allowMultipleRecoveryCodes" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                <xs:element name="remotePostcardPublicKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateRecoveryConfigResponse">
        <xs:annotation>
            <xs:documentation>Update application recovery configuration response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="updated" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListActivationFlagsRequest">
        <xs:annotation>
            <xs:documentation>List activation flags request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListActivationFlagsResponse">
        <xs:annotation>
            <xs:documentation>List activation flags response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddActivationFlagsRequest">
        <xs:annotation>
            <xs:documentation>Add activation flags request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddActivationFlagsResponse">
        <xs:annotation>
            <xs:documentation>Add activation flags response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateActivationFlagsRequest">
        <xs:annotation>
            <xs:documentation>Update activation flags request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateActivationFlagsResponse">
        <xs:annotation>
            <xs:documentation>Update activation flags response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveActivationFlagsRequest">
        <xs:annotation>
            <xs:documentation>Remove activation flags request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveActivationFlagsResponse">
        <xs:annotation>
            <xs:documentation>Remove activation flags response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="activationFlags" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListApplicationRolesRequest">
        <xs:annotation>
            <xs:documentation>List application roles request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListApplicationRolesResponse">
        <xs:annotation>
            <xs:documentation>List application roles response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddApplicationRolesRequest">
        <xs:annotation>
            <xs:documentation>Add application roles request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddApplicationRolesResponse">
        <xs:annotation>
            <xs:documentation>Add application roles response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateApplicationRolesRequest">
        <xs:annotation>
            <xs:documentation>Update application roles request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateApplicationRolesResponse">
        <xs:annotation>
            <xs:documentation>Update application roles response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveApplicationRolesRequest">
        <xs:annotation>
            <xs:documentation>Remove application roles request.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RemoveApplicationRolesResponse">
        <xs:annotation>
            <xs:documentation>Remove application roles response.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="applicationId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                <xs:element name="applicationRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- PowerAuth Enumerations //-->

    <xs:simpleType name="ActivationStatus">
        <xs:annotation>
            <xs:documentation>Enum representing the possible activation states (CREATED, PENDING_COMMIT, ACTIVE, BLOCKED,
                REMOVED).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREATED"/>
            <xs:enumeration value="PENDING_COMMIT"/>
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="BLOCKED"/>
            <xs:enumeration value="REMOVED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ActivationOtpValidation">
        <xs:annotation>
            <xs:documentation>Enum representing the possible modes of OTP validation (NONE, ON_KEY_EXCHANGE, ON_COMMIT).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="ON_KEY_EXCHANGE"/>
            <xs:enumeration value="ON_COMMIT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RecoveryCodeStatus">
        <xs:annotation>
            <xs:documentation>Enum representing the possible recovery code states (CREATED, ACTIVE, BLOCKED, REVOKED).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREATED"/>
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="BLOCKED"/>
            <xs:enumeration value="REVOKED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RecoveryPukStatus">
        <xs:annotation>
            <xs:documentation>Enum representing the possible recovery PUK states (VALID, USED, INVALID).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="VALID"/>
            <xs:enumeration value="USED"/>
            <xs:enumeration value="INVALID"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SignatureType">
        <xs:annotation>
            <xs:documentation>Enum representing the possible signatures types by the authentication factors used.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="POSSESSION"/>
            <xs:enumeration value="KNOWLEDGE"/>
            <xs:enumeration value="BIOMETRY"/>
            <xs:enumeration value="POSSESSION_KNOWLEDGE"/>
            <xs:enumeration value="POSSESSION_BIOMETRY"/>
            <xs:enumeration value="POSSESSION_KNOWLEDGE_BIOMETRY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="KeyValueMap">
        <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" type="xs:string"/>
                        <xs:element name="value" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HttpAuthenticationPublic">
        <xs:sequence>
            <xs:element name="certificate" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enabled" type="xs:boolean"/>
                        <xs:element name="useCustomKeyStore" type="xs:boolean"/>
                        <xs:element name="keyStoreLocation" type="xs:string" minOccurs="0"/>
                        <xs:element name="keyStorePasswordSet" type="xs:boolean"/>
                        <xs:element name="keyAlias" type="xs:string" minOccurs="0"/>
                        <xs:element name="keyPasswordSet" type="xs:boolean"/>
                        <xs:element name="useCustomTrustStore" type="xs:boolean"/>
                        <xs:element name="trustStoreLocation" type="xs:string" minOccurs="0"/>
                        <xs:element name="trustStorePasswordSet" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="httpBasic" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enabled" type="xs:boolean"/>
                        <xs:element name="username" type="xs:string" minOccurs="0"/>
                        <xs:element name="passwordSet" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HttpAuthenticationPrivate">
        <xs:sequence>
            <xs:element name="certificate" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enabled" type="xs:boolean"/>
                        <xs:element name="useCustomKeyStore" type="xs:boolean"/>
                        <xs:element name="keyStoreLocation" type="xs:string" minOccurs="0"/>
                        <xs:element name="keyStorePassword" type="xs:string" minOccurs="0"/>
                        <xs:element name="keyAlias" type="xs:string" minOccurs="0"/>
                        <xs:element name="keyPassword" type="xs:string" minOccurs="0"/>
                        <xs:element name="useCustomTrustStore" type="xs:boolean"/>
                        <xs:element name="trustStoreLocation" type="xs:string" minOccurs="0"/>
                        <xs:element name="trustStorePassword" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="httpBasic" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enabled" type="xs:boolean"/>
                        <xs:element name="username" type="xs:string" minOccurs="0"/>
                        <xs:element name="password" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
